// Adaptive
@media (min-width:1200px) {
  .about-us__information_text p, .team__item_detail p,  .how-work__item_descr, .service, .questions .question__item .answer, .service__tab_item, .how-work__item_title {
    font-size: 18px;
  }
  .team__item {
    height: 460px;
  }
}


@media (min-width:1200px) and (max-width:1439px) {
  .main-content {
    .about-us .main-proud .proud__title {
      left: 8%;
    }
    .about-us .quality .proud__title {
      right: -17%;
    }
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .header {
    .red-triangle {
      left: -35px;
    }
    .call-order__inner {
      margin-left: 5px;
    }
    .call-order__wrap {
      padding-left: 15px;
    }
  }
  .main-content {
    .car {
      &__inner {
        .point-label1 {
          left: 260px;
        }
        .point-descr1 {
          left: -20px;
        }

        .point-label2 {
          left: 430px;
        }
        .point-descr2 {
          top: 0;
          left: 370px;
        }

        .point-label3 {
          left: 645px;
        }
        .point-descr3 {
          left: 700px;
        }

        .point-label4 {
          left: 357px;
        }
        .point-descr4 {
          left: 75px;
        }

        .point-label6 {
          left: 750px;
        }
        .point-descr6 {
          left: 725px;
          &:after {
            width: 58px;
            transform: rotate(90deg);
            left: 5px;
            top: 93px;
          }
        }
      }
      &__order {
        .title-block {
          line-height: 30px;
        }
      }
      &__form {
        margin-top: 20px;
      }
    }
    .about-us {
      .about-us__information {
        margin-top: 5px;
        left: 12px;
      }
      .quality {
        padding-bottom: 65px;
        .about-us__information {
          margin-top: 5px;
        }
      }
      .about-us__img img {
        margin: 0;
      }
      .about-us__img:after, .about-us__img:before {
        display: none;
      }
    }
    .team {
      .owl-nav {
        .owl-prev {
          left: -20px;
        }

        .owl-next {
          padding-right: 10px;
          right: -20px;
        }
      }
    }
    .how-work {
      &__type1 {
        .how-work__item_title {
          &:after {
            height: 120px;
          }
        }
      }
      &__type2 {
        .how-work__item_title {
          &:before {
            top: 30px;
            content: "2";
          }
          &:after {
            height: 140px;
          }
        }
      }
      &__type3 {
        .how-work__item_title {
          &:before {
            top: 30px;
          }
          &:after {
            height: 140px;
          }
        }
      }
      &__type4 {
        margin-bottom: 0;
        .how-work__item_title {
          &:before {
            top: 30px;
          }
        }
      }
    }
    .service__tab-content  {
      padding: 20px 20px;
      .sub-tab__img_item:after {
        right: -105px;
      }
      .sub-tab__information-text {
        width: 440px;
      }
    }
  }
  .modal-content {
    width: 50%;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .main-content {
    padding-top: 120px;
    .car {
      &__inner {
        .car__point {
          display: none;
        }
        img {
          width: 100%;
        }
      }
      &__order {
        .title-block {
          line-height: 30px;
        }
      }
    }
    .about-us {
      .about-us__img {
        text-align: center;
        img {
          margin: 0;
        }
      }
      .about-us__img:after, .about-us__img:before {
        display: none;
      }
      .about-us__information {
        left: 0;
        margin-top: 40px;
        &_title {
          border-top-left-radius: 10px;
        }
      }
      .quality {
        .row {
          margin: auto;
          display: table;
          .col-xs-12:first-child {
            width: 100%;
            display: table-footer-group;
          }
          .col-xs-12:last-child {
            width: 100%;
            display: table-header-group;
          }
        }
        .about-us__img {
          left: 0;
        }
        .about-us__information {
          &_title {
            border-top-right-radius: 10px;
          }
        }
      }
    }
    .team {
      .owl-nav {
        .owl-prev {
          left: -15px;
        }

        .owl-next {
          padding-right: 10px;
          right: -15px;
        }
      }
    }
    .how-work {
      &__item {
        margin-bottom: 40px;
        &_title {
          &:before {
            display: none;
          }
          &:after {
            display: none;
          }
        }
      }
    }
    .service {
      &__tab {
        padding: 0;
        &_item {
          border: 1px solid #e6ecf2;
          border-radius: 3px;
        }
      }
      &__tab-content {
        padding: 20px;
        .sub-tab__img_item:after {
          display: none;
        }
        .sub-tab__information-text {
          margin-bottom: 10px;
          width: 100%;
        }
        .sub-tab__information-order {
          float: none;
          .sub-tab__information-price {
            height: 60px;
            line-height: 60px;
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: 4px;
          }
        }
      }
    }
    .map .container .contact__list {
      padding-left: 20px;
    }
  }
  .footer {
    .call-us {
      text-align: center;
      margin-top: 20px;
      &__question, &__phone {
        display: inline-block;
        margin-right: 40px;
      }
    }
  }
  .modal-content {
    width: 70%;
  }
} 
@media (max-width:767px) {
  .header {
    text-align: left;
    &__logo {
      margin-bottom: 20px;
    }
    .call-order{
      text-align: left;
      &__inner {
        margin-left: 15px;
      }
    }
  }
  .main-content {
    padding-top: 160px;

    .car {
      padding-bottom: 80px;
      &__inner {
        .car__point {
          display: none;
        }
        img {
          width: 100%;
        }
      }
      &__form {
        padding: 0 20px;
        .form__item {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .title__list {
        margin: 0;
      }
      .car__slider_content .car__slider_item .slide__after img, .car__slider_content .car__slider_item .slide__before img {
        height: 220px;
      }
      .car__slider_content:before {
        display: none;
      }
      .car__slider_content:after {
        height: 190px;
      }

      .next-scroll {

        &__link img {
          top: 30px;
          right: 20px;
        }
      }
    }
    .about-us {
      .about-us__img {
        text-align: center;
        img {
          width: 100%;
          margin: 0;
        }
      }
      .about-us__img:after, .about-us__img:before {
        display: none;
      }
      .about-us__information {
        left: 0;
        margin-top: 40px;
        &_title {
          font-size: 18px;
          padding-left: 10px;
          padding-right: 10px;
          border-top-left-radius: 10px;
        }
        &_text {
          font-size: 16px;
        }
      }
      .quality {
        .row {
          margin: auto;
          display: table;
          .col-xs-12:first-child {
            width: 100%;
            display: table-footer-group;
          }
          .col-xs-12:last-child {
            width: 100%;
            display: table-header-group;
          }
        }
        .about-us__img {
          left: 0;
        }
        .about-us__information {
          &_title {
            border-top-right-radius: 10px;
          }
        }
      }
      .next-scroll {

        &__link img {
          top: -20px;
        }
      }
    }
    .team {
      .owl-nav {
        .owl-prev {
          left: -15px;
        }

        .owl-next {
          padding-right: 10px;
          right: -15px;
        }
      }
      .team__recall .team__btn {
        font-size: 20px;
      }
    }
    .proud {
      &__item {
        margin-bottom: 40px;
      }
    }
    .how-work {
      &__item {
        width: 100%;
        margin-bottom: 40px;
        &_img {
          margin-bottom: 20px;
          text-align: center;
          img {
            max-width: 190px;
            width: 100%;
          }
        }
        &_text {
          text-align: center;
        }
        &_title {
          padding-right: 0;
          &:before {
            display: none;
          }
          &:after {
            display: none;
          }
        }
        &_descr {
          padding-right: 0;
        }
      }
      &__type-right {
        display: table;
        .col-sm-8 {
          display: table-footer-group;
        }
        .col-sm-4 {
          display: table-header-group;
        }
        .how-work__item_title, &__type-right .how-work__item_descr {
          padding-left: 0;
        }
        .how-work__item_text {
          margin-bottom: 20px;
          text-align: center;
        }
      }
    }
    .service {
      &__tab {
        padding: 0;
        &_list {
          padding: 0 20px;
        }
        &_item {
          border: 1px solid #e6ecf2;
          border-radius: 3px;
        }
      }
      &__tab-content {
        padding: 20px;
        .sub-tab__img {
          text-align: center;
          &_item:after {
            display: none;
          }
          &_item {
            margin: 10px;
            img {
              width: 100%;
              max-width: 305px;
            }
          }
          .right-float {
            float: none;
          }
        }

        .sub-tab__information {
          &-text {
            margin-bottom: 10px;
            width: 100%;
          }
          &-order {
            text-align: right;
            float: none;
            .sub-tab__information-price, .sub-tab__information-btn {
              display: inline-block;
              width: 100%;
              max-width: 313px;
            }
            .sub-tab__information-price {
              height: 60px;
              line-height: 60px;
              display: inline-block;
              position: relative;
              top: 4px;
            }
          }
        }

      }
    }
    .questions {
      .question__item .question {
        padding: 30px 28px 30px 60px;
        &:before {
          left: 10px;
        }
        &:after {
          right: 10px;
        }
      }
      .question-vk__text {
        margin-bottom: 20px;
      }
    }
    .map  {
      margin-top: 300px;
      .container .contact {
        top: -790px;
        left: 0;
        &__list {
          padding: 20px 20px 0;
        }
      }
    }

  }
  .footer {
    text-align: center;
    .call-us {
      margin-top: 20px;
      text-align: center;
    }
  }
  section {
    padding: 40px 0;
  }
  .title-block {
    line-height: 30px;
  }
  .modal {
    padding-top: 50px;
    .modal-content {
      margin: 0 auto;
      width: 90%;
      padding: 0;
    }
  }
}

// Hamburger menu
@media (max-width:768px) {
  .header {
    .nav{
      height: 167px;
      left: 0;
      padding-left: 0;
      margin-top: 0;
      z-index:1000000;
      font-weight:bold;
      font-size:0.8em;
      width:100%;
      background:#f1f1f1;
      position:absolute;
      text-align:center;
    }
    .nav ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
    .nav li {
      display: block;
      margin-top: 0;
      padding:15px 0 15px 0;
      border-bottom:#dddddd 1px solid;
    }
    .nav li:hover{display: block;    background:#ffffff; padding:15px 0 15px 30px; border-bottom:#dddddd 1px solid;}
    .nav ul .nav__item a { text-decoration:none; text-align: center;  margin: 0; color:#666;}
    .nav ul li a:hover {  color: #666; text-decoration:none;}
    .nav a{text-decoration:none; color:#666;}
    .nav a:hover{text-decoration:none; color:#666;}

    .nav__item_link {
      padding: 0;
      height: auto;
    }

    .nav li, .nav li:hover {
      padding: 0;
    }

    .nav ul li a {
      padding: 10px 0;
    }

    .nav__item_link:active, .nav__item_link:focus, .nav__item_link:hover {
      background: #ffffff;
    }
  }
}
